@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.hero{
    height: 100vh;
    width: 100%;
    background: #f2f4f6;
    font-family: sans-serif;
    position: relative;

}

nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav span{
    font-size: 40px;
    font-weight: 600;
    color: #001871;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #001871;
}

nav ul li a:hover{
    color: red;
}

.info{
    margin-left: 8%;
    margin-top: 15%;
}

.info h1{
    font-size: 60px;
    color: #212121;
    margin-bottom: 20px;
}

/* THIS IS HOW I MADE THE TEXT BLUE AND RED */
.info span{
    background-image: linear-gradient(to left, red,#001871 60%, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.info p{
    color:666;
    line-height: 28px;
    margin-bottom: 1.5rem;
}

button{
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    background-color: #001871;
    color: #fff;
}